<div class="row comments">
  <div class="label col-2">
    <img class="img-responsive img-fluid view overlay rounded-circle z-depth-2 mb-2 waves-light"
         src="{{commentAuthor?.picture}}" style="width: 75px;height:75px;">
  </div>
  <div class="label col-9">
    <div class="author">
      <a class="font-weight-bold dark-grey-text">{{commentAuthor?.firstname + ' ' + commentAuthor?.lastname + ':'}}</a>
      {{comment?.date}}
    </div>
    <div class="comment">
      <a class="name">{{comment?.text}}</a>
    </div>
  </div>
</div>
