<textarea class="md-textarea form-control" type="text" [(ngModel)]="createCommentObject.text" placeholder="text"></textarea>
<div class="form-inline">
  <div class="md-form form-group">
    <input class="form-control" type="text" [(ngModel)]="author.email" placeholder="email">
  </div>
  <div class="md-form form-group">
    <input class="form-control" type="password" [(ngModel)]="author.password" placeholder="password">
  </div>
  <div class="md-form form-group">
    <button [disabled]="false" (click)="createComment()">Comment</button>
  </div>
</div>
