<textarea class="md-textarea form-control" type="text" [(ngModel)]="createCommentObject.text"
          placeholder="text"></textarea>
<div class="form-inline border">
    <div class="md-form form-group">
        <input class="form-control" type="text" [(ngModel)]="author.email" placeholder="email">
    </div>
    <div class="md-form form-group">
        <input class="form-control" type="password" [(ngModel)]="author.password" placeholder="password">
    </div>
    <div class="md-form form-group">
        <button class="btn btn-dark btn-sm"
                [disabled]="createCommentObject.text == '' || author.email == '' || author.password.length < 8"
                (click)="login()">Comment
        </button>
    </div>
</div>
<div class="error">
    {{ errorText }}
</div>
