<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" (click)="mainPage()">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" (click)="mainPage()">
        <a class="nav-link waves-light" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" (click)="randomArticle()">
        <a class="nav-link waves-light" mdbWavesEffect>Random article</a>
      </li>
      <li class="nav-item" (click)="showAllArticles()">
        <a class="nav-link waves-light" mdbWavesEffect>All articles</a>
      </li>
    </ul>
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--MainPage-->
<div class="container" *ngIf="page == 0">

  <!--Section heading-->
  <h2 class="h1 font-weight-bold mb-5 pt-4">About this blog</h2>
  <!--Section description-->
  <p class="mb-5 pb-3">Hey there,<br>
  this is a fun blog where everybody can create and comment entries... something about the blog (dunno what to right here)</p>

  <h2 class="h1 font-weight-bold mb-5 pt-4">Recent posts</h2>
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" class="img-fluid" alt="First sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <a href="" class="pink-text">
        <h6 class="mb-3 mt-4">
          <strong>{{allArticles[0].topic.join(", ")}}</strong>
        </h6>
      </a>
      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>{{allArticles[0].headline}}</strong>
      </h4>
      by <a class="font-weight-bold dark-grey-text">{{allArticles[0].author}}</a>, {{allArticles[0].date}}
      <p class="grey-text">{{allArticles[0].text.substring(0, 200)}} ...</p>
      <a mdbBtn (click)="readMore(0)" color="pink" rounded="true" size="md" class="waves-light" mdbWavesEffect>Read more</a>
    </div>
    <!--Grid column -->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="img-fluid" alt="Second sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <a href="" class="deep-orange-text">
        <h6 class="mb-3 mt-4">
          <strong>{{allArticles[1].topic.join(", ")}}</strong>
        </h6>
      </a>
      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>{{allArticles[1].headline}}</strong>
      </h4>
      by <a class="font-weight-bold dark-grey-text">{{allArticles[1].author}}</a>, {{allArticles[1].date}}
      <p class="grey-text">{{allArticles[1].text.substring(0, 200)}} ...</p>
      <a mdbBtn (click)="readMore(1)" color="deep-orange" rounded="true" size="md" class="waves-light" mdbWavesEffect>Read more</a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid" alt="Thrid sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <a href="" class="cyan-text">
        <h6 class="mb-3 mt-4">
          <strong>{{allArticles[2].topic.join(", ")}}</strong>
        </h6>
      </a>
      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>{{allArticles[2].headline}}</strong>
      </h4>
      by <a class="font-weight-bold dark-grey-text">{{allArticles[2].author}}</a>, {{allArticles[2].date}}
      <p class="grey-text">{{allArticles[2].text.substring(0, 200)}} ...</p>
      <a mdbBtn (click)="readMore(2)" color="info" rounded="true" size="md" class="waves-light" mdbWavesEffect>Read more</a>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>
<!--ArticlePage-->
<div class="container" *ngIf="page == 1">
  <div class="row">
    <div class="col-md-12 blogShort">
      <h1>{{articleHeader}}</h1>
      <img src="{{articlePicture}}" class="pull-left img-responsive img-fluid view overlay rounded z-depth-2 mb-2 waves-light" id="articleImage">
      <article>
        <p class="box-text">
          {{articleText}}
        </p>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="media">
        <a class="articleAuthorPicture pull-left">
          <img class="img-responsive img-fluid view overlay rounded z-depth-2 mb-2 waves-light" src="{{articleAuthorPicture}}" style="width: 100px;height:100px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{articleAuthor}}</h4>
          <h5>{{articleDateString}}</h5>
          <h6>Topics: {{articleTopic}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Comments-->
<section class="container pt-0 pb-3" *ngIf="page == 1">
  <hr style="margin:8px auto">
  <h4>Comments</h4>
  <div class="row">
    <div class="col-lg-10">
      <div class="mdb-feed" [innerHtml]= "articleComments"></div>
    </div>
  </div>
</section>
<!--AllArticles-->
<div class="container" *ngIf="page == 2">
  <!--Section: Blog v.3-->
  <section class="py-4">

    <!--Section heading-->
    <h2 class="h1 text-center mb-5">Recent posts</h2>
    <!--Section description-->
    <p class="text-center mb-5 pb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 col-xl-4 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1-half waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="First sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
        <h3 class="mb-3 font-weight-bold dark-grey-text">
          <strong>This is title of the news</strong>
        </h3>
        <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
          facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
        <p>by
          <a class="font-weight-bold dark-grey-text">Jessica Clark</a>, 26/08/2018</p>
        <a mdbBtn color="primary" size="md" class="waves-light" mdbWavesEffect>Read more</a>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5">

    <!--Grid row-->
    <div class="row mt-3">

      <!--Grid column-->
      <div class="col-lg-5 col-xl-4 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/images/31.jpg" class="img-fluid" alt="Second sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
        <h3 class="mb-3 font-weight-bold dark-grey-text">
          <strong>This is title of the news</strong>
        </h3>
        <p class="grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
          corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et dolorum fuga.</p>
        <p>by
          <a class="font-weight-bold dark-grey-text">Jessica Clark</a>, 24/08/2018</p>
        <a mdbBtn color="pink" size="md" class="btn-md waves-light" mdbWavesEffect>Read more</a>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 col-xl-4 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/images/52.jpg" class="img-fluid" alt="Third sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
        <h3 class="mb-3 font-weight-bold dark-grey-text">
          <strong>This is title of the news</strong>
        </h3>
        <p class="grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
          consectetur.
        </p>
        <p>by
          <a class="font-weight-bold dark-grey-text">Jessica Clark</a>, 21/08/2018</p>
        <a mdbBtn color="pink" size="md" class="waves-light" mdbWavesEffect>Read more</a>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Blog v.3-->
</div>
