<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand><a class="navbar-brand" routerLink="['/index']">Navbar</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="['/index']">
        <a class="nav-link waves-light" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" routerLink="['/allArticles']">
        <a class="nav-link waves-light" mdbWavesEffect>All articles</a>
      </li>
      <li class="nav-item" routerLink="['/createArticle']">
        <a class="nav-link waves-light" mdbWavesEffect>Create article</a>
      </li>
    </ul>
    <div class="md-form mt-0">
      <a mdbBtn *ngIf="!loginObject.loggedIn" color="white" outline="true" rounded="true" class="waves-light" mdbWavesEffect (click)="registerFrame.show()">Register</a>
    </div>
  </links>
</mdb-navbar>
<!--MainBody-->
<router-outlet [loginObject]="loginObject"></router-outlet>
<!-- Footer -->
<footer class="page-footer font-small indigo pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
          <mdb-icon icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" mdbWavesEffect>
          <mdb-icon icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" mdbWavesEffect>
          <mdb-icon icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" mdbWavesEffect>
          <mdb-icon icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" mdbWavesEffect>
          <mdb-icon icon="dribbble"></mdb-icon>
        </a>
      </li>
    </ul>

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: Wetzel/Geistler</div>
  <!-- Copyright -->

</footer>
<!-- Register -->
<div mdbModal #registerFrame class="modal fade left" id="regristerFrameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="registerFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="center">
        <div align="center">
          <div class="form-inline">
            <div class="md-form form-group">
              <input class="form-group" type="text" [(ngModel)]="registerObject.firstname" placeholder="firstname">
            </div>
            <div class="md-form form-group">
              <input class="form-group" type="text" [(ngModel)]="registerObject.lastname" placeholder="lastname">
            </div>
          </div>
          <div class="form-inline">
            <div class="md-form form-group">
              <input type="email" [(ngModel)]="registerObject.email"  placeholder="email" email>
            </div>
            <div class="md-form form-group">
              <input type="password" [(ngModel)]="registerObject.password" placeholder="password">
            </div>
          </div>
          <div class="form-inline">
            <div class="md-form form-group">
              <input type="number" [(ngModel)]="registerObject.zipCode"  placeholder="zipcode">
            </div>
            <div class="md-form form-group">
              <input type="text" [(ngModel)]="registerObject.city"  placeholder="city">
            </div>
          </div>
          <div class="form-inline">
            <div class="md-form form-group">
              <input type="text" [(ngModel)]="registerObject.street" placeholder="street">
            </div>
            <div class="md-form form-group">
              <input type="number" [(ngModel)]="registerObject.streetNumber" placeholder="number">
            </div>
          </div>
          <div class="form-inline">
            <div class="md-form form-group">
              <input type="file" (change)="onFileChanged($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn [disabled]="registerObject.firstname == '' || registerObject.lastname == '' ||
          registerObject.email == '' || registerObject.password == ''|| registerObject.zipCode == '' ||
          registerObject.city == '' || registerObject.street == '' || registerObject.streetNumber == '' ||
          registerObject.picture == ''" color="indigo" class="waves-light" mdbWavesEffect (click)="register()">Register</button>
      </div>
      <div class="error" align="center" style="margin-bottom: 4px">
        {{ errorText }}
      </div>
      <div class="success" align="center" style="margin-bottom: 4px">
        {{ successText }}
      </div>
    </div>
  </div>
</div>
